@font-face{
    font-family: 'SnellOne';
    src: url('font/SnellRoundhand-Script.woff\ copy');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SnellOne';
    src: url('font/SnellRoundhand-Script\ copy.svg');
    font-weight: normal;
    font-style: normal;
}

body{
    padding: 10px;
    font-family: "SnellOne";
    color: aliceblue;
    background-color: purple;
    font-size: 15px;
    kerning: auto;
}
h1{
    font-size: 50px;
    transition: 1.5s;
    position: absolute;
    top: 2%;
    left: 26%;
}
h1:hover{
    color: darkmagenta;
    font-size: 60px;
    left: 26%;
}
#one{
    color: white;
    position: absolute;
    left: 10%;
    top: 30%;
    
    }
    #two{
        color: purple;
        position: absolute;
        left: 30%;
        transition: 1.5s;
        top: 30%;
    }
    #two:hover{
        color: white;
    }
    #three{
        color: white;
        left: 50%;
        top: 30%;
        position: absolute;
        
    }