html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

*{
  text-transform: uppercase;
  margin:0px;

}
body{
  background-image: url(images/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
  background-size: cover;
  color:blue;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5rem;
}

em{
  font-style: normal;
  text-decoration: underline;
}

button {
  background-color: blue;
  border: 5px solid blue;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  font-family: serif;
  margin:15px;
  padding:5px;
  background-color:white;
  color:blue;
  text-decoration: underline;
}
button:hover {
  background-color: blue;
  color: white;

}
input[type=text] {
  height:30px;
  width:360px;
  border: 5px solid blue;
  margin:15px;
  color:blue;
  font-family: serif;
  font-size: 1.5rem;
}

p{
  background-color:white;
  padding:5px;
  margin:15px;
  border:5px solid blue;
}
a:visited{
  color:blue;
}
a:hover{
  background-color:blue;
  color:white;
}


.hide{
  display: none;
}
.show{display: block;}

#bg{
  position:absolute;
  right:33%;
  bottom:0;
  width:600px;
  font-size:1.5rem;
  line-height:1.05;
  padding:25px;
  padding-right: 38px;
}


#one{
  position:absolute;
  z-index: 10;
  width:100vw;
  height:100vh;
}

#intro{
  position:absolute;
  text-align: center;
  left: 5%;
  top:10%;
  width:400px;
}
  #lets{
    position:absolute;
    left: 5%;
    top:20%;
    width:220px;
  }
  #lets:hover{
    background-color:blue;
    color:white;
  }

#center{
  background-color: white;
    position: absolute;
    z-index: 1 !important;
    left: 5%;
    top:10%;
    width:400px;
    border: 5px solid blue;
  }
#textAreaOutput{
  position: absolute;
  left: 5%;
  top:10%;
  padding:10px;
  height:auto;
  width:660px;
  border:5px solid blue;
  z-index:8 !important;
  color:blue;
  background-color: white;
}
#numberOfWords{
  display:none;
}
#textAreaInput{
  display:none;}




  